@import '~antd/dist/antd.css';

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Chat {
  bottom: 100px;
}
*/
.App {
  height: 80%;
  /*flex: 1 1 auto;*/
}

/* Doesn't work */
Chat {
  max-width: 800px;
}

Form {
  max-width: 800px;
  max-width: 80%;
}

html,
body {
  height: 100%;
  margin: 0;
}

.Info {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 800px;
  max-width: 80%;
}

.noApiKeyLabel {
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.spanAsLink {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}